blockquote {
  font-style: italic;
}

div.content {
  width: 80%;
  margin: auto;
}

div.ver {
  width: 80%;
  margin: auto;
  background: black;
  padding: 0.5em;
}

p.ver, a.ver {
  color: white;
  margin: 0;
}

div.table {
  overflow-x: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 0.3em;
}
